:root {
    --primary:#fff;
}

.btn {
    border-radius: 4px;
    outline: none;
    border:none;
    cursor:pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color:var(--primary);
    color:#aa00ff;
    padding:0.5rem;
    border: 0.1rem solid var(--primary);
    transform:scale(1.1);
}

.btn--outline {
    background-color:#6200EE;
    color:#fff;
    padding:0;
    border:0.1rem solid var(--primary);
    transition:all 0.3s ease out;
}

.btn--cart{
    background-color:#6200EE;
    color:#fff;
    padding:1.8rem;
    margin-left:33%;
    border:0.1rem solid #E1BEE7;
    transition:all 0.3s ease out;
}
.btn--cart:hover{
    transition: all 0.6s ease out;
}

.btn--buy{
    background-color:#6200EE;
    color:#fff;
    padding:1.8rem;
    margin:0.5rem 0.7rem;
    border:0.1rem solid #E1BEE7;
    transition:all 0.3s ease out;
}
.btn--buy:hover{
    
    transition: all 0.6s ease out;
    
}

.FormButton{
    background: #6200EE;
    padding: 16px 0;
    border:none;
    border-radius: 4px;
    color:#fff;
    font-size:20px;
    cursor: pointer;
}
.FormContact{
    background-color:transparent;
    color:#717981 !important;
    padding: 0.3rem 0;
    border:0.2rem solid #717981;
    border-radius: 4px;
    max-width: 40%;
    justify-content: right;
     
}
.FormContact:hover{
    background-color:#717981 !important;
    color:#fff !important;
}
.FormGoogle{
    background:#6200EE;
    padding:1.8rem 2rem;
    border: none;
    width:100%;
    border-radius:4px;
    margin:0;
    color:#fff;
    text-align: center;
    text-transform:uppercase;
    cursor: pointer;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .btn--cart{
        margin-right: 2rem;

    }
}
.btn--medium {
    padding: 0.8rem 1rem;
    font-size:18px;
}

.btn--large {
    padding:1.2rem 2.6rem;
    font-size: 1.0rem;
}

.btn--mobile {
    text-align:center;
    border-radius:0.4rem;
    width:100%;
    text-decoration:none;
    font-size:1.5rem;
    background-color: transparent;
    color:#fff;
    padding:1.4rem 2.0rem;
    border:0.1rem solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding:1.2rem 6.4rem;
    font-size: 1.0rem;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-out;
    background:#fff;
    color:#aa00ff;
}

.btn--wide:hover{
    color:#fff;
    background-color:#8e44ad;
    transition: 0.2s ease-out;
}

.btn-link{
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration:none;
    height:100%;
    width:100%; 
}

.blue{
    background-color: #6200EE;
    color:#fff;
    border:none;
}

.purple{
    background-color: #aa00ff;
    color:#fff;
    border:none;
}

.primary{
    background-color: #242424;
    color:#fff;
    border:none;
}

.primary:hover{
    background-color: #fff;
    color:#242424;
    border:none;
}

.green{
    background-color: #AED581;
    color:#fff;
    border:none;
}
.green:hover{
    background-color: #242424;
    color:#fff;
    border:none;
}

