.wrap{
background: #e8e8e8;
display:flex;
flex-flow: column;
width:100%;
height:100vh;
z-index:1;
margin: 0 auto;
justify-content:space-evenly;
}

.wrap1{
background: #e8e8e8;
display:flex;
flex-flow: column;
width:90%;
height:100vh;
z-index:1;
margin: 0 auto;
justify-content:space-evenly;
}


.content{
    display:flex;
    flex-direction: column;
    height:90vh;
}

.content2{
    display:flex;
    flex-direction: right;
}

.content2 >h3{
    padding:9rem;
    align-content:flex-start;
}
.inner-content{
    display:flex;
    flex-flow: row;
    position: sticky;
    align-items: center;
    margin: 2rem;
}

.inner-content-2{
    display:flex;
    flex-flow: row-reverse;
    position: sticky;
    align-items: center;
    margin: 2rem;
}

.inner-content > p,
.inner-content-2 > p{
    padding:1rem;
    line-height:1.7;
    
}
.story-1{
    object-fit: scale-down;
    max-width: 50%;
    height: 50vh;
    padding:0; 
}
.story-2{
    object-fit: scale-down;
    max-width: 50%;
    height:70vh;
    padding:0; 
}

.pic-1{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    display:flex;
    width: 90%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit:cover;
    transition: all 0.2s linear;
    

}
.inner{
justify-content: center;
 color:#8c9cad;
 columns: #e8e8e8;
 font-size: 50px;
}

.inner-item{
    justify-content: right;
    padding-left:1rem;
    justify-content: center;
    color:#8c9cad;
    columns: #e8e8e8;
    font-size: 50px;
}
.real-it > h4{
  justify-content: center;
  font-size: 2rem;
  color:#8c9cad;
  text-align: center;
}

.real-top{
    display:flex;
    flex-flow: row;
    justify-content:center;
}

.real-container{
    z-index: 1;
    object-fit: cover;
    height:100vh;
    width:50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.real-container > p{
    color:#242424;
}
.real-wrap{
display: flex;
flex-direction: row;

}