
.title {
    padding: 4rem;
    background: transparent;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #252e48;
    padding-top:80px;
    margin:70px 0 0 0;
  }
   p{
      margin:1.3rem 1.8rem;
      padding:0.5rem 0.9rem;
      font-size:18px;
      font-weight: 500;
      font-family:Oxygen,sans-serif;
      color:#b8bdcc;
  }
  .end__container{
      display:flex;
      flex-flow:column;
      align-items:center;
      justify-content: center;
      object-fit:contain;
  }
  .end-btn{
      margin:0.5rem 0.8rem;
  }
  .btn{
    margin:0.3rem;
}