.Container{
background:linear-gradient(100deg, rgb(160, 56, 143)0%,rgb(133, 21, 224));
min-height: 6.92rem;
position:sticky;
bottom:0;
left:0;
right:0;
top:30;
z-index:1;
overflow:hidden;
justify-self: center;


}

.formWrap{
height:100%;
display:flex;
flex-direction:row; //column or row :: google sign in btn position
justify-content:center;
margin-top:6rem;






@media screen and (max-width:400px){
    height:100%;
}

}
.FormContent{
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.Form{
background: #242424;
max-width:400px;
height:90%;
z-index:1;
display:grid;
margin: 1rem;
justify-content: center;
padding:0 32px;
border-radius:5px;
box-shadow:0 1px 3px rgba(0,0,0,0.9);


}


.Icon{
    width:100%;
    margin-bottom:3%;
    padding:5rem 6rem;
    justify-self: left;
    text-decoration:none;
    color:#fff;
    font-weight:600;
    font-size:2.1rem;
    line-height: 1;

     @media screen and (max-width:480px){
         margin-left:16px;
         margin-top:8px;
         
          
     }
}

h1{
    font-size:2rem;
    margin-bottom:40px;
    margin-top:-40px;
    color:#fff;
    line-height: 1;
    font-weight: 700;
    text-align:center;
   
} 

.FormLabel{
    margin-bottom: 8px;
    font-size: 1.0rem;
    color:#fff;
}

.FormInput{
padding:16px 16px;
margin-bottom: 32px;
border: none;
border-radius:4px;
}

.Text{
 text-align: center;
 margin-top: 24px;
 color:#fff;
 font-size: 1rem;
}

.socialSignIn{
    justify-content: center;
    padding:1rem 1rem;
    margin:3rem;
    align-self: center;
    display:flex;
    flex-direction:row;
    

}