* { box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-family:'Oxygen', sans-serif;
}
.herbs,
.houseplants,
.flowers,
.pet-friendly,
.shop,
.login,
.community,
.homepage,
.whyus{
    display:flex;
    height:90vh;
    align-items:center;
    justify-content:center;
    font-size:3rem;
}

.homepage,
.houseplants,
.herbs,
.flowers,
.pet-friendly,
.shop,
.login {
 display: flex;
 height: 90vh;
 align-items: center;
 justify-content: center;
 font-size: 3rem;
}

.houseplants {

 color: #242424;
 font-size: 100px;
}


.herbs {
 
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 color: #242424;
 font-size: 100px;
}


.flowers {
 
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 color: #242424;
 font-size: 100px;
}


.pet-friendly {
 color: #242424;
 font-size: 100px;
}


.homepage {
 color: #fff;
 font-size: 100px;
}

.community {
 color: #242424;
 font-size: 100px;
}

